script(src="jquery/dist/jquery.min.js")
script(src="bootstrap/dist/js/bootstrap.min.js")
script(src="vue/dist/vue.min.js")
script(src="vue-router/dist/vue-router.min.js")
script(src="vue-resource/dist/vue-resource.min.js")
script(src="underscore/underscore-min.js")
script(  src="javascripts/pace.min.js")
script(  src="javascripts/toast.min.js")
script(src="javascripts/app.js")