doctype html
html
	head
		title= title
		link(rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/socket.io/socket.io.js")
	body
		.container
			block content
			include footer
